name: Run PUSH SDK

on:
  push:
    branches:
      - main
  workflow_dispatch:
  schedule:
    - cron: '15 * * * *'

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Use Node 16
        uses: actions/setup-node@v1
        with:
          node-version: 16.x

      - name: Install packages
        run: npm install

      - name: Run App
        run: npm start
